#landing {
  background: rgb(0, 181, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 181, 255, 1) 0%,
    rgba(0, 116, 217, 1) 100%
  );
  height: calc(100vh - var(--header-px));
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

#click-arrow {
  --icon-size: 30px;
  border-radius: calc(var(--icon-size) * 2);
  font-size: var(--icon-size);
  padding: 20px;
  margin-left: calc(-1 * var(--icon-size));
  animation: bounce 1s infinite alternate;
  position: absolute;
}

#product-desc {
  margin-top: 60px;
  width: 50%;
}

@keyframes bounce {
  from {
    bottom: 100px;
  }
  to {
    bottom: 150px;
  }
}

#subtitle {
  animation: 2.4s ease 0s delay-fadein;
  margin-bottom: 50px;
}

#info {
  height: 100vh;
  background: rgba(240, 240, 240);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

@keyframes delay-fadein {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#whatwedo {
}
